{
	"parserOptions": {
		"ecmaVersion": 2017,
		"sourceType": "module"
	},
	"env": {
		"es6": true,
		"node": true,
		"mocha": true,
		"jasmine": true
	},
	"extends": "eslint:recommended",
	"rules": {
		"no-cond-assign": 2,
		"no-console": 1,
		"no-const-assign": 2,
		"no-class-assign": 2,
		"no-this-before-super": 2,
		"no-unused-vars": 1,
		"no-var": 2,
		"object-shorthand": [2, "always"]
	}
}
